In [8]:
def func(a, b):
 return b if a == 0 else func(b % a, a)
print(func(30, 75))

15

In [9]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [12]:
set1 = {14,3,55}
set2 = {82,49,62} 
set3 = {99,22,17}
print(len(set1 + set2 + set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [15]:
set1 = {14, 3, 55}
set2 = {82, 49, 62}
set3 = {99, 22, 17}

combined_set = set1 | set2 | set3
result = len(combined_set)

print(result)

9

In [16]:
print(4**3 + (7 + 5)**(1 + 1))

208

In [17]:
captains = {}

In [21]:
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

In [23]:
print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [24]:
captains = {
    "Enterprise": "Picard",
    "Voyager": "Janeway",
    "Defiant": "Sisko",
    "Discovery": "unknown"
}

for ship, captain in captains.items():
    if captain == "unknown":
        print(f"The captain of the ship {ship} is currently unknown.")
    else:
        print(f"The captain of the ship {ship} is {captain}.")

The captain of the ship Enterprise is Picard.
The captain of the ship Voyager is Janeway.
The captain of the ship Defiant is Sisko.
The captain of the ship Discovery is currently unknown.

In [26]:
captains = {
    "Enterprise": "Picard",
    "Voyager": "Janeway",
    "Defiant": "Sisko",
    "Discovery": "unknown"
}

for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by unknown.